name: Deploy Azure Function

on:
  push:
    branches:
      - main
      - develop
  workflow_dispatch:

env:
  AZURE_FUNCTIONAPP_NAME: 'workplace-app'
  AZURE_FUNCTIONAPP_PACKAGE_PATH: './workplace.Api'
  DOTNET_VERSION: '8.0.x'

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest
    steps:
      - name: 'Checkout Github Action'
        uses: actions/checkout@v4

      - name: Setup Dotnet ${{ env.DOTNET_VERSION }}
        uses: actions/setup-dotnet@v4
        with:
          dotnet-version: ${{ env.DOTNET_VERSION }}

      - name: 'Resolve Project Dependencies Using Dotnet'
        shell: bash
        run: |
          pushd './${{ env.AZURE_FUNCTIONAPP_PACKAGE_PATH }}'
          dotnet build --configuration Release --output ./output
          popd
      
      - name: 'Verify build output'
        run: |
          ls -la '${{ env.AZURE_FUNCTIONAPP_PACKAGE_PATH }}/output'

      - name: 'Run Azure Function Action'
        uses: Azure/functions-action@v1
        with:
          app-name: ${{ env.AZURE_FUNCTIONAPP_NAME }}
          package: '${{ env.AZURE_FUNCTIONAPP_PACKAGE_PATH }}/output'
          publish-profile: ${{ secrets.AZURE_FUNCTIONAPP_PUBLISH_PROFILE }}